video,
iframe {
  width: 100%;
}

iframe {
  background-image: url('/assets/images/ad27atzy1zxz.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}
